<div class="container-fluid">
  <div class="row">
    <div class="col">
      <app-activity></app-activity>
    </div>
    <div class="col">
      <app-balancesheet></app-balancesheet>
    </div>
  </div>
</div>


<div class="container-fluid">
  <h4>Add a Transaction</h4>
  <div class="row shadow">
    <div class="col ">
      <p>Amount</p>
      <input [(ngModel)]="transaction.Amount" type="number"/>
    </div>
    <div class="col">
      <p>Remark</p>
      <input [(ngModel)]="transaction.Remark" type="text"/>
    </div>
    <div class="col">
      <p>Type</p>
      <select name="Save" [(ngModel)]="transaction.type">
        <option value="Credit">Credit</option>
        <option value="Debit">Debit</option>
      </select>
    </div>
    <div class="col">
      <button class="btn btn-primary" (click)="Save()">save</button>
    </div>
  </div>
</div>
